Django==3.2.7
djangorestframework==3.12.4
django-cors-headers==3.10.0
django-filter==21.1
Pillow==8.3.2
django-allauth==0.45.0
django-microsoft-auth==2.4.0
social-auth-app-django==5.0.0
django-rest-auth==0.9.5
django-amazon-ses==4.0.0